{{template "fragments/search_form" .}}
<div id="query_results">
    {{if .QueryId}}
        {{/* load the page */}}
        <div
                hx-get="/cmd/page?queryId={{.QueryId}}&page={{.Page}}&freshLoad=1"
                hx-trigger="load">
        </div>
    {{else if .Queries}}
        {{template "fragments/query_list" .Queries}}
    {{end}}
</div>