<div id="pagination_top" class="pagination_container">
    {{template "fragments/pagination" .Pagination}}
</div>

<div class="container-fluid">
    <div class="row messages" id="messages">
        {{template "fragments/messages" .Messages}}
    </div>
</div>

<div id="pagination_bottom" class="pagination_container"></div>